header {
    padding-top: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    padding-bottom: 3rem;
    border-bottom: 2px black solid;
}

a {
    text-decoration: none;
    color: black;
}

p {
    font-size: 3rem;
}

h1 {
    font-size: 4rem;
}